.madoriwaku {
    text-align: center;
    padding: 20px;
    border: 2px solid black;
}

.button {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    text-align: center;
}