@charset "UTF-8";

/* .base {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.class1 {
  width: 70%;
}
 
.class2 {
  display: flex;
  flex-direction: column;
  width: 30%;
} */

body {
  font-family: 'Rajdhani', sans-serif;
}

#btn {
  display:flex;
  justify-content: space-evenly
}

#furniture {
  background-color: #E8D5C4;
}

.room {
  background-color: #FFF1DC;
}

.mypage {
  background-color: #EEEEEE;
}

.navbar {
    background-color: #3A98B9;
}

.copyright {
  text-align: center;
  background-color: #3A98B9;
}

/* header css */
.navbar-brand1 {
	font-family: 'Yuji Mai', serif;
  font-size: 150%;
  color:inherit;
  text-decoration: none;
}


/* furnituter */
table {
    border-collapse: collapse;
}

td {
    border: solid #000;
    padding: 10px;
}

th {
    text-align: center;
}

td {
    text-align: right;
}

.navbar-brand1 {
  font-family: 'Rajdhani', sans-serif;
}
.navbar-brand {
  font-family: 'Rajdhani', sans-serif;
}
