@charset "UTF-8";

/* .base {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.class1 {
  width: 70%;
}
 
.class2 {
  display: flex;
  flex-direction: column;
  width: 30%;
} */


#r {
  background-color: yellowgreen;
}

.mypage {
  background-color: rgb(226, 238, 131);
}

.navbar {
    background-color: #3A98B9;
}

.copyright {
  text-align: center;
  background-color: #3A98B9;
}

/* header css */
.navbar-brand1 {
	font-family: 'Yuji Mai', serif;
  font-size: 150%;
  color:inherit;
  text-decoration: none;
}


/* furnituter */
table {
    border-collapse: collapse;
}

td {
    border: solid #000;
    padding: 10px;
}

th {
    text-align: center;
}

td {
    text-align: right;
}
