<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>部屋の追加/編集ページ</title>
    <link rel="stylesheet" href="../css/H_madorizuadd.css">
</head>
<body style="background-color: #fff1dc;">
    <img src="../imge/画像挿入スペース.jpg" alt="">
    <form action="アプロード先サーバー名を後で入力" method="post" enctype="multipart/form-data">
        <label for="filename">
            間取図の画像を挿入してください
        </label>
        <input type="file" id="filename" name="filename" accept=".png, .jpg, .jpeg, .pdf, .doc">
        <button id="save">保存</button>
        
    </form>
    <button>寸法追加</button>

</body>



    
<script>
    document.getElementById("save").addEventListener("click",saved);
    function saved(){
        alert("保存しました");
    }
</script>
</html>