<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>部屋の追加/編集ページ</title>
    <link rel="stylesheet" href="../static/css/H_madorizuadd.css">
</head>
<body style="background-color: #fff1dc;">


<h1>「ファイルを選択」から間取図を追加してください</h1>

<div class = "madoriwaku">
<img id="preview">
</div>

<form action="/upload" method="post" enctype="multipart/form-data">
    
    <div class = "button">
    <input type="file" name="upload" id="myImage" accept="image/*">
    </div>
    <div class = "button">
    <button>アップロード</button>
    </div>

</form>

<div class = "button">
    <button>寸法追加</button>
</div>

<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<script src="../static/madorizuadd.js"></script>


</body>

    
<script>
    document.getElementById("save").addEventListener("click",saved);
    function saved(){
        alert("保存しました");
    }
</script>
</html>