<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>寸法追加ページ</title>
    <link rel="stylesheet" href="../css/H_sunpouadd.css">
</head>
<body style="background-color: #fff1dc;">
    <canvas width="800" height="600" style="border: #E8d5c4 solid;"></canvas>

    <button type="button" class="top_down" onclick="insert_zyouge()"> <img src="static\img\上下矢印.png" height ="90" width="90" /></button>
    <button type="button" class="left_rigth" onclick="insert_sayu()"> <img src="static\img\左右矢印.png" height ="90" width="90" /></button>
    <button type="button" class="turn_left"> <img src="static\img\左回転矢印.png" height ="90" width="90" /></button>
    <button type="button" class="turn_right"> <img src="static\img\右回転矢印.png" height ="90" width="90" /></button>
    <form action="/save_s">
    <button id="save" type="submit">保存</button>
    </form>

<div id="image">
</div>   

<div class="slider">
      <span>縮小</span>
      <input id="zoom-slider" type="range">
      <span>拡大</span>
</div>

<script src="../static/canvas.js"></script>
</body>
<script>
    document.getElementById("save").addEventListener("click",saved);
    function saved(){
        alert("保存しました");
    }
</script>
</html>