<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>寸法追加ページ</title>
    <link rel="stylesheet" href="../css/H_sunpouadd.css">
</head>
<body style="background-color: #fff1dc;">
    <canvas id="can1" width="800" height="600" style="border: #E8d5c4 solid;"></canvas>
<script>
    var canvas = document.getElementById("can1");
    var context = canvas.getContext('2d');

</script>
    <button type="button" class="top_down"> <img src="../imge/上下矢印.png" height ="90" width="90" /></button>
    <button type="button" class="left_rigth"> <img src="../imge/左右矢印.png" height ="90" width="90" /></button>
    <button type="button" class="turn_left"> <img src="../imge/左回転矢印.png" height ="90" width="90" /></button>
    <button type="button" class="turn_right"> <img src="../imge/右回転矢印.png" height ="90" width="90" /></button>
    <button>保存</button>
</body>
</html>