<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>家具編集</title>
</head>

<body style="background-color: #fff1dc;">
    {% extends 'R.header.html' %}
    {% block content %}
    <article>
        <div>
            <form action="/regist_f" method="post">
                <table border="0.5">
                    <tr>
                        <td>名称</td>
                        <td>縦</td>
                        <td>横</td>
                        <td>高さ</td>
                        <td>数量</td>
                    </tr><br>
                    <tr>
                        <td><input type="text" name="f_name" id=""></td>
                        <td><input type="text" name="f_vertical" id=""></td>
                        <td><input type="text" name="f_horizontal" id=""></td>
                        <td><input type="text" name="f_height" id=""></td>
                        <td><select name="f_quantity">
                                <option value="">数量を選択</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="f_name" id=""></td>
                        <td><input type="text" name="f_vertical" id=""></td>
                        <td><input type="text" name="f_horizontal" id=""></td>
                        <td><input type="text" name="f_height" id=""></td>
                        <td><select name="f_quantity">
                                <option value="">数量を選択</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="f_name" id=""></td>
                        <td><input type="text" name="f_vertical" id=""></td>
                        <td><input type="text" name="f_horizontal" id=""></td>
                        <td><input type="text" name="f_height" id=""></td>
                        <td><select name="f_quantity">
                                <option value="">数量を選択</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="f_name" id=""></td>
                        <td><input type="text" name="f_vertical" id=""></td>
                        <td><input type="text" name="f_horizontal" id=""></td>
                        <td><input type="text" name="f_height" id=""></td>
                        <td><select name="f_quantity">
                                <option value="">数量を選択</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select></td>
                    </tr>

                </table>
                <input id="save" type="submit" value="保存"></input>
            </form>


        </div>

    </article>

    {% endblock %}

    <script>
        document.getElementById("save").addEventListener("click", saved);
        function saved() {
            alert("保存しました");
        }
    </script>
</body>

</html>