<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/M.signup.css">
    <title>Document</title>
</head>
<body>
    <div>
        <section>
        <table border="0.8">
            <form action="/regist" method="post">
            <tr>
               <td id="font">名前</td>
               <td><input type="text" name="name" id=""></td>
            </tr><br>
            <tr>
               <td id="font">カナ</td>
               <td><input type="text" id=""></td>
            </tr>
            <tr>
               <td id="font">ID</td>
               <td><input type="text" name="USER_ID" id=""></td>
            </tr><br>
            <tr>
               <td id="font">Passwprd</td>
               <td><input type="text" name="password" id=""></td>
            </tr>
            <tr>
               <td id="font">メールアドレス</td>
               <td><input type="text" name="mailadress" id=""></td>
            </tr><br>
        </section>

        </table>
               <input type="submit" id="save" value="保存">
            </form>
               
    </div>    
        <form action="/regist_top" method="get">
            <input type="submit" value="やり直し">
        </form>
</body>

    <script>
      document.getElementById("save").addEventListener("click",saved);
      function saved(){
          alert("保存しました");
      }
  </script>
</html>