<!DOCTYPE HTML>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="keywords" content="サイトをキーワードで説明">
	<meta name="description" content="どんなサイトかを短い文章で説明">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
	<link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/static/css/M_top.css">
	<title>トップページ</title>
</head>

<body style="background-color: #fff1dc;">
	<article class="top">
		<section class="room">
			<h1>俺の"部屋"</h1>
		</section>


		<section class="clip">
			<h1>ログインID<input type="integer" name="post_id" size="50"></h1> 
			<h1>PW <input type="text" name="post_name" size="50"></h1>
			<form action="/login" method="post">
				<input type="submit" value="保存">
			</form>
			<h1>新規会員登録は<a href="http://127.0.0.1:9000/regist_top">こちら</a></h1> 
		</section>
	</article>

</body>

</html>