<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>家具編集</title>
</head>

<body style="background-color: rgb(214, 241, 175);">
    {% extends 'R.header.html' %}
    {% block content %}

    <article>
        <div>
            <form action="/UPDATE_fun2" method="post">
                <table>
                    <tr>
                        <th>名称</th>
                        <th>縦</th>
                        <th>横</th>
                        <th>高さ</th>
                        <th>数量</th>
                    </tr><br>

                    {% for i in furnitutes %}
                    <tr>
                        <td>{{i[2]}}</td>
                        <td>{{i[3]}}</td>
                        <td>{{i[4]}}</td>
                        <td>{{i[5]}}</td>
                        <td>{{i[6]}}</td>
                    </tr>

                    <tr>
                        <td><input type="text" name="name" placeholder="{{i[2]}}" id=""></td>
                        <td><input type="text" name="f_vertical" placeholder="{{i[3]}}" id=""></td>
                        <td><input type="text" name="f_horizontal" placeholder="{{i[4]}}" id=""></td>
                        <td><input type="text" name="f_height" placeholder="{{i[5]}}" id=""></td>
                        <td><select name="f_quantity">
                                <option value="">数量を選択</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select></td>
                        <input style="display: none;" type="integer" name="post_id" value="{{i[0]}}">

                    </tr>
                    {% endfor %}
                </table>

                <!-- <form action="/add_fun2"> -->
                <!-- <input type="text" name="post_task">
                    <input type="date" name="post_dead"> -->
                <input type="submit" value="保存" name="">
                <!-- </form> -->

                <!-- <input id="save" type="submit" value="保存"></input> -->
            </form>
            {% endblock %}


        </div>

    </article>
    <script>
        document.getElementById("save").addEventListener("click", saved);
        function saved() {
            alert("保存しました");
        }
    </script>
</body>

</html>